/* General Reset */
body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Navbar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    background: linear-gradient(90deg, #bc2c8c, #ff4081);
    color: white;
    padding: 0 20px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 1em;
    transition: color 0.3s ease, transform 0.3s ease;
}

.nav-links a:hover {
    color: pink;
    transform: scale(1.1);
}

/* Burger Menu */
.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 3px;
    background: white;
    margin: 5px;
    transition: all 0.3s ease;
}

/* Secciones*/
.bienvenida, .acercaDeMi, .proyectos, .contacto {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;

    height: 100vh;
}

.bienvenida {
    background-color: rgb(30, 30, 30);
    color: white;
}

.acercaDeMi {
    background: rgb(30, 30, 30);
    padding: 50px 20px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: whitesmoke;
}


.contacto h2::after, .proyectos h2::after,.acercaDeMi h2::after {
    content: "";
    display: block;
    width: 300px;
    height: 5px;
    background: radial-gradient(circle, rgba(227,75,244,1) 0%, rgba(255,85,12,1) 100%);
    margin: 10px auto;
    border-radius: 10px;
}

.seccion {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    max-width: 800px;
    margin: 0 auto;
}

.proyectos {
    background-color: rgb(30, 30, 30);
    color: white;
}

.contacto {
    background-color: rgb(30, 30, 30);
    color: white;
}

/* Carrusel */
.carrusel {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 25%;
    margin: 20px auto;
}

.carrusel-container {
    display: flex;
    transition: transform 0.5s ease;
}

.carrusel-item {
    min-width: 100%;
    position: relative;
    text-align: center;
}

.carrusel-item img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 10px;
}

.btn-action {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ff4081;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.btn-action:hover {
    background-color: #bc2c8c;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

/* Footer */
footer {
    background-color: gray;
    color: white;
    text-align: center;
    padding: 10px 0;
}

/* Foto de acerca de mí */

.miFoto {
    width: 300px; 
    height: 300px; 
    border-radius: 50%; 
    overflow: hidden; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
}

.miFoto img {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
}

.miFoto img:hover {
    transform: scale(1.05);
}

.informacion p {
    font-size: 1.1rem;
    line-height: 1.8;
    color: whitesmoke;
    text-align: justify;
}

.informacion {
    max-width: 500px;
}

.informacion p:first-letter {
    font-size: 1.5rem;
    font-weight: bold;
    color: pink;
}



/* Responsivo */
@media screen and (max-width: 768px) {
    nav {
        flex-direction: column;
        align-items: flex-start;
        padding: 10px;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        background: rgba(255, 255, 255, 0.708);
        position: absolute;
        width: 90%;
        height: auto;
        top: 10vh;
        left: 0;
        text-align: center;
        gap: 10px;
        padding: 50px;
    }

    .nav-links.nav-active {
        display: flex;
         align-items: center;
    }

    .burger {
        display: block;
    cursor: pointer;
    }

    .carrusel {
        width: 100%;
    }

    .carrusel-item img {
        border-radius: 5px;
    }

    .bienvenida, .acercaDeMi, .proyectos, .contacto {
        padding: 10px;
    }

    .btn-action {
        font-size: 0.9em;
        padding: 8px 15px;
    }

    .seccion {
        flex-direction: row;
    }
}

/* Pantallas pequeñas */
@media screen and (max-width: 480px) {
    nav {
        padding: 10px;
    }

    .nav-links a {
        font-size: 0.9em;
    }

    h1, h2 {
        font-size: 1.5em;
    }

    p {
        font-size: 0.9em;
    }
}
