/* General Reset */
body,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#contenedor {
    background-color: rgb(30, 30, 30);
}

/* Navbar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    background: linear-gradient(90deg, #bc2c8c, #ff4081);
    color: white;
    padding: 0 20px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 1em;
    transition: color 0.3s ease, transform 0.3s ease;
}

.nav-links a:hover {
    color: pink;
    transform: scale(1.1);
}

/* Logo */
#logo {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    right: 100px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
}

/* Burger Menu */
.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 3px;
    background: white;
    margin: 5px;
    transition: all 0.3s ease;
}

/* Secciones*/
.seccion {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    height: 100vh;
    background-color: rgb(30, 30, 30);
    color: white;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
    position: relative;
}

/* Contenedor del texto */
.contenido-texto {
    flex: 1;
    padding: 20px;
}

/* Contenedor de la imagen */
.contenido-imagen {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    opacity: 0.8;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

#textoParrafo {
    color: pink;
    font-size: 1.5rem;
    opacity: 0.8;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

/* Imagen con opacidad */
.imagen-derecha {
    max-width: 80%;
    height: auto;
    opacity: 0.8;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.imagen-derecha:hover,
#textoParrafo:hover,
h1:hover {
    opacity: 1;
    transform: scale(1.05);
}


.seccion.visible {
    opacity: 1;
    transform: translateY(0);
}

.acercaDeMi {
    padding: 50px 20px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.contenidoAcercaDeMi {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    max-width: 800px;
    margin: 0 auto;
}

.contacto h2::after,
.proyectos h2::after,
.acercaDeMi h2::after {
    content: "";
    display: block;
    width: 300px;
    height: 5px;
    background: radial-gradient(circle, rgba(227, 75, 244, 1) 0%, rgba(255, 85, 12, 1) 100%);
    margin: 10px auto;
    border-radius: 10px;
}

/* Carrusel */
.carrusel {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 25%;
    margin: 20px auto;
}

.carrusel-container {
    display: flex;
    transition: transform 0.5s ease;
}

.carrusel-item {
    min-width: 100%;
    position: relative;
    text-align: center;
}

.carrusel-item img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 10px;
}

.btn-action {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    height: 50px;
    background-color: #ff4081;
    color: whitesmoke;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    text-align: center;
    line-height: 50px;
}

.btn-action:hover {
    background-color: #bc2c8c;
}

.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #333;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.prev:hover,
.next:hover {
    background-color: #262626;
}

/* Footer */
footer {
    background-color: rgb(19, 19, 19);
    height: 100px;
    color: #333;
    padding: 10px 0;
    justify-content: center;
    text-align: center;
}

/* Foto de acerca de mí */

.miFoto {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.miFoto img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.miFoto img:hover {
    transform: scale(1.05);
}

.informacion p {
    font-size: 1.1rem;
    line-height: 1.8;
    color: whitesmoke;
    text-align: justify;
}

.informacion {
    max-width: 500px;
    margin: 0px;
}

.informacion p:first-letter {
    font-size: 2.5rem;
    font-weight: bold;
    color: pink;
}

#linkCV{
    color: #bc2c8c;
}

/* Icono de contacto */

.info-contacto {
    display: flex;
    flex-direction: column;
    /* Alinear elementos en columna */
    gap: 10px;
    /* Espacio entre ítems */
    margin-bottom: 15px;
    /* Espacio entre esta sección y los íconos */
}

.info-item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.info-item i {
    font-size: 20px;
    color: #333;
}

.info-item span {
    font-size: 16px;
    color: #333;
}

.iconos-contacto {
    display: flex;
    gap: 15px;
    justify-content: center;
}

.iconos-contacto a {
    text-decoration: none;
    color: #333;
    font-size: 24px;
    transition: color 0.3s ease;
}

.iconos-contacto a:hover {
    color: pink;
}

/* Flechas inicio */

.flecha-indicador {
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
}

.flecha-indicador i {
    font-size: 2rem;
    color: white;
    animation: bounce 1.5s infinite;
    cursor: pointer;
}

.flecha-indicador i:hover {
    color: pink;
    transform: scale(1.2);
}

/* Animación de rebote */
@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-10px);
    }

    60% {
        transform: translateY(-5px);
    }
}

/* Responsivo */
@media screen and (max-width: 768px) {
    .miFoto {
        width: 200px;
        height: 200px;
    }

    nav {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        background:#333;
        position: absolute;
        width: 90%;
        height: auto;
        top: 10vh;
        left: 0;
        text-align: center;
        gap: 10px;
        padding: 50px;
    }

    .nav-links.nav-active {
        display: flex;
        align-items: center;
    }

    .burger {
        display: block;
        cursor: pointer;
        margin-top: auto;
    }

    .burger.toggle .line1 {
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    .burger.toggle .line2 {
        opacity: 0;
    }

    .burger.toggle .line3 {
        transform: rotate(45deg) translate(-5px, -6px);
    }


    .carrusel {
        width: 50%;
    }

    .carrusel-item img {
        border-radius: 5px;
    }

    .bienvenida,
    .acercaDeMi,
    .proyectos,
    .contacto {
        padding: 10px;
    }

    .btn-action {
        font-size: 0.9em;
        padding: 8px 15px;
    }

    .contenidoAcercaDeMi {
        flex-direction: row;
    }
}

/* Pantallas pequeñas */
@media screen and (max-width: 480px) {
    .carrusel {
        width: 100%;
    }

    .miFoto {
        display: none;
    }

    nav {
        padding: 10px;
    }

    .nav-links a {
        font-size: 0.9em;
    }

    h2 {
        font-size: 1.5em;
    }

    p {
        font-size: 0.9em;
    }
}